.Header {
  align-items: center;
  background-color: rgba(7, 43, 5, 0.176);
  display: flex;
  font-family: Times New Roman, Times, serif;
  font-size: 1.8rem;
  height: 50px;
}

.Header h4 {
  color: rgba(245, 94, 6, 0.784);
  font-size: 1.8rem;
  margin-left: 65%;
}

.Header h5 {
  margin-left: 5%;
}
