.Header {
  align-items: center;
  background-color: rgba(7, 43, 5, 0.329);
  display: flex;
  font-family: Times New Roman, Times, serif;
  font-size: 20px;
  height: 50px;
  justify-content: space-between;
  padding-left: 2%;
  width: 99%;
}

.Header h4 {
  color: red;
  margin-left: 70%;
}

.Header p:nth-child( 3 ) {
  margin-right: 3%;
}

.Header h5 {
  margin-right: 5%;
  text-align: center;
}
